<h1>New division</h1>

<form action="/wizard_divide">
  <label for="po">
    Divide this:
  </label>
  <input id="po" name="first_num" type="text">

  <label for="lo">
    by this:
  </label>
  <input id="lo" name="second_num" type="text">

  <button>
    Divide!
  </button>
</form>
