<h1>New multiplication</h1>

<form action="/wizard_multiply">
<label for="a">Multiply this:</label>
<input type="text" id="a" name="first_num">
<label for="b">by this:</label>
<input type="text" id="b" name="second_num">
<button>Multiply!</button>
</form>
